div {
  border-color:red;
  border-style:solid;
}
.contenedor1{
  font-family: 'Courier New', Courier, monospace;
}
p{
  font-size: 30px;
}
.parrafo{
  font-family: 'Courier New', Courier, monospace;
}
#p3{
  font-weight: bold;
  -webkit-box-shadow: 6px 4px 25px 15px #000000; 
  box-shadow: 6px 4px 25px 15px #000000;
  width: 200px;
  margin-top: 50px;
  margin-left:50px;
}
div h1,h2 {
  color: blue;
}